.App {
  text-align: center;
}
body{
  background-color:#282c34;
}

/* .ali{
  background-color: #6151C3;
} */



.temp{
  margin-top: 150px;
}


.details{
  margin-top: 130px;
}

.rows{
  display: flex;
  justify-content: flex-start;
}